/* ==========================================================================
   Global Overrides
========================================================================== */

* {
  box-sizing: border-box;
  border: gold solid 2px;
  margin: 0;
  padding: 0;
}

/* ==========================================================================
   Global Styles
========================================================================== */

body {
  display: flex;
  justify-content: center;
}

.pokedex {
  display: flex;
  align-items: flex-end;
  height: 500px;
  margin: 50px;
  width: 800px;
}

/* ==========================================================================
  Left Container Styles 
========================================================================== */

.left-container {
  border: 3px solid red;
  width: 50%;
  height: 100%;
  flex-direction: row;
}

.left-container-screen {
  border: 3px solid green;
  width: 70%;
  height: 70%;
  margin: 50px;
}



/* ==========================================================================
  Right Container Styles 
========================================================================== */

.right-container {
  border: 3px solid black;
  width: 50%;
  height: 100%;
  
}  

.right-screen-top {
  border: 3px solid blue;
  width: 70%;
  height: 60%;
  margin: 50px;
}

/* .list-item {
  align-items: center;
  color: white;
  cursor: pointer;
  display: flex;
  font-size: 12px;
  height: 25px;
  overflow-x: hidden;
  padding-left: 5px;
  width: 50%;
} */